body { background-color:#accfa8f3; font-family: arial; font-size: 18px; }

#caixa { background-color: rgba(73, 233, 58, 0.342); border:  rgb(51, 158, 41) solid;
        padding: 20px ; padding-top: 15px;  border-radius: 20px ; padding-left: 20px;  
        margin: 50px; text-align: center; font-family: 'Times New Roman'; font-size: 20px   ; }

img {width: 25%;}

